section.page-title {
    background-image:url(../images/AdobeStock_30135380.jpeg);
    background-size:contain;
    background-repeat: no-repeat;
    padding-top: 10%;
    padding-left: 65%;
    padding-bottom: 28%;
    font-weight: bold;
    color:black;
    font-size:83px;
    line-height:80%;
    margin:0%;
}
/* This "drawer" is my main container. In it there is a button to control it, and the contents which open and close */
drawer {
    position: fixed;
    top: 0;
    left: 0px;
    width: 100%;
    height: 40px;
}
/* This is the button element, with the class "controls" that users will click on in order to open and close the contents */
#drawer button.controls {			
    position: sticky;
    right: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: black;
    color:white;
    cursor: pointer;
}
/* This is what the button.controls element looks like when its parent, #drawer, has the .open class applied to it */
#drawer.open button.controls {		
    background-color:#0A7ACF;
    color:white;
}
/* This :after pseudoelement is actually what adds the words "open +" to the button. You'll notice that the only contents in the button HTML are the FontAwesome hamburger icon */
#drawer button.controls:after {			
    content: "OPEN +";
    font-family: Helvetica;
    font-size: 16px;
}
/* When the parent #drawer element has the .open class applied, we change the button :after pseudoelement text from "open +" to "close -" */
#drawer.open button.controls:after {	
    content: "CLOSE -";
}
/* Here we are just positioning the FontAwesome hamburger icon */
#drawer button.controls .fa {			
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2%;
}
/* This .contents element is what opens and closes when the user clicks the button. It has 0 height (and padding) when it's in its normally closed state */
#drawer .contents {						
    height: 0;
    padding: 0 10px;
    box-sizing: border-box;
    width: 100%;
    background-color: black;
    color: #fff;
    display: none;
}
/* When the parent #drawer element has the .open class applied, we change the height and padding of the contents to reveal it. */
#drawer.open .contents {				
    transition: all .5s;
    height: 8%;
    padding: 4%;
    display:block;
}
em {
    font-size: 32px;
     color:black;
}
.sticky-header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color:black;
    z-index: 100;
}
.sticky-header ul {
    list-style: none;
    padding: 1%;
    margin: 0;
    display: flex;
}
section.char-top ul, section.labrador-type-list ul, section.char-top ul.reversed {
    grid-gap: 0% 0%;
}
.sticky-header li {
    margin: 0 20px;
    font-size: 18px;
    text-transform: uppercase;
}
.sticky-header a {
    text-decoration: none;
    color:white;
}
.rectangular-button a {
    text-decoration: none;
    color:white;
}
a.on-this-page {
    color:whitesmoke;
    font-weight: bold;
    font-size: 19px;
}
.paw-header {
    width:50px; 
    height:50px;
}
.rectangular-button {
    display: block;
    margin-bottom: 30px;
    padding: 0;
    border: none;
    font-weight: bold;
    font-size: 18px;
    transition: transform 0.3s ease;
}
.rectangular-button a {
    display: block;
    padding: 18px;
    background-color: #0A7ACF;
    transition: transform 0.3s ease;
    border: none;
    border-radius: 5px;
}
.rectangular-button a:hover {
    background-color: #0A7ACF;
    color: white;
    transform: scale(1.1);
}
section.history-top, .top-header {
    font-weight: bold;
    color: black;
    font-size: 88px;
    background-color: white;
}
section.history-top {
    line-height: 69%; 
}
.top-header {
    line-height: 0%;
}
html {
    font-family: Helvetica;
}
body {
    margin: 0;
    padding: 0;
}
section {
    background-color:white;
    color:black;
    margin: 1% 12%;
    padding-top:1%;
    padding-bottom: 3%;
}
h1 {
    font-weight: bold;
    color:black;
    font-size:40px;
}
  section.home1 ul, section.history-top ul, section.char-top ul, section.fun-facts ul, section.char-top ul.reversed {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
    list-style: none;
}
section.labrador-type-list ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24%, 1fr));
    list-style: none;
    background-color:#0A7ACF;
}
.lab-list, .lab-comparison, .main-page {
    padding: 5%;
    padding-bottom: 1%;
    margin-left:0;
}
.reversed, .char {
    padding: 0;
}
section.home1 ul {
    font-size: 22px;
    gap: 60px;
}
section.home1 li, section.history-top li, section.labrador-type-list li, section.char-top li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 4% 5%;
}
section.labrador-type-list li {
    justify-content: flex-start;
}
div.footer {
    background-color: black;
    color: white;
    font-size: 14px;
    padding-left: 10%;    
    padding-right: 10%;
    padding-top: 3%;
    padding-bottom:3%;
}
.image-placeholder {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}
.footer a:visited {
    color: white;
    text-decoration: none;
    text-transform: none;
}
header a {
    position: relative;
    text-decoration: none;
    color: #0A7ACF;
}
section.char-top.title-fun-facts {
    padding-top: 7%;
}
.lab-comparison {
    padding-top: 3%;
}
section.labrador-type-list {
    padding-bottom: 6%;
}
header a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0A7ACF; 
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}
header a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
.image-placeholder-tall {
    height: auto;
    object-fit: cover;
    border-radius: 5px;
    width: 100%;
}
header li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}
p.caption {
    font-size: 17px;
    font-weight: bold;
    color:black;
}
p.white {
    color:white;
    text-align: center;
}
p.intro-text {
    font-size:22px;
    line-height: normal;
    font-weight: normal;
}
.char-top ul, .fun-facts ul, .history-top ul {
    grid-gap:0px;
}
section.fun-facts .top-header2 {
    line-height: 90%;
    margin-bottom: 0;
}
 .top-header2 {
    font-weight: bold;
    color: #0A7ACF;
    font-size: 4rem;
}
.top-header3 {
    font-weight: bold;
    color:black;
    font-size: 100px;
    text-align: left;
    margin: 1%;
}
.fact {
    border: 2px solid #B6CBDB;
    border-radius: 5px;
    padding: 2% 8%;
    margin-bottom: 5%;
}

.fun-facts {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
}
.numbered-column {
    list-style: none;
    padding: 0;
    margin: 0;
}
.numbered-column li {
    counter-increment: my-counter;
    margin: 0;
}
hr.big-divider {
    border-width: 45px; 
    border-color: #0A7ACF;
}
.top-header2::before {
    content:"#" counter(my-counter) "  ";
    display: contents;
    width: 1.5em;
    text-align: center;
    margin: 2%;
    color: #B6CBDB;
    font-weight: bold;
}
@media (max-width:1700px) {
    .image-placeholder-tall {
        width:85%;
    }
}
@media (max-width: 1200px) {
    section.page-title {
        font-size: 70px;
    }
    em {
        font-size: 24px;
    }
}
@media (max-width: 1000px) {
    section.page-title {
        font-size: 60px;
    }
    em {
        font-size: 22px;
    }
    .sticky-header li {
        font-size: 16px;
    }
    a.on-this-page {
        font-size: 18px;
    }
    p.top-header, .top-header2{
        font-size: 60px;
    }
    p.intro-text {
        font-size: 20px;
    }
    .top-header3 {
        font-size: 80px;
    }
    .in-at-smaller {
        display: show;
    }
    h1.char-header {
        margin:0;
    }
}
@media (max-width: 878px) {
    .image-placeholder.front-image {
        width:80%;
    }
    section.history-top ul {
        display: table-row-group;
    }
    p.caption.history-image {
        margin:0;
    }
    section.history-top {
        padding-top: 3%;
    }
section.home1 ul {
    gap:10px;
}
section.home1 li.bottom-home {
padding-top: 0%;
}
hr.big-divider {
    border-width: 40px; 
    border-color: #0A7ACF;
}
section.home1 li.top-home {
    padding-bottom: 0%;
}
}
@media (max-width: 752px) {
    section.page-title {
        font-size: 45px;
    }
    em {
        font-size: 18px;
    }
    .sticky-header li {
        font-size: 14px;
    }
    a.on-this-page {
        font-size: 16px;
    }
    .in-at-smaller {
        display: show;
    }
    .image-placeholder-tall {
        width:100%;
    }
    section.home1 ul{
        gap:30px;
     }
     section.home1 ul {
        grid-template-columns: none;
    }
    .image-placeholder.front-image {
        width:80%;
    }
    .rectangular-button {
         font-size: 16px;
    }
    section.char-top ul.reversed {
        flex-direction: column-reverse;
        list-style: none;
        display: flex;
    }
    section.char-top ul.char {
        display: block;
    }
    hr.big-divider {
        border-width: 35px; 
        border-color: #0A7ACF;
    } 
    .intro-text.labrador {
        padding-bottom: 17%;
    }
}
@media (max-width: 648px) {
    section.page-title {
        font-size: 45px;
        padding-top: 8%;
        padding-left: 58%;
        padding-bottom: 15%;
    }
    em {
        font-size: 18px;
    }
    a.on-this-page {
        font-size: 14px;
    }
    p.top-header, .top-header2{
        font-size: 45px;
    }
    p.intro-text {
        font-size: 18px;
    }
    .top-header3 {
        font-size: 70px;
    }
    .sticky-header li {
        margin-top: 3%;
        margin-bottom: 3%;
    }
}
@media (max-width: 550px) {
    section.page-title {
        font-size: 37px;
        padding-top: 8%;
        padding-left: 58%;
        padding-bottom: 15%;
    }
    em {
        font-size: 14px;
    }
    a.on-this-page {
        font-size: 12px;
    }
    .away-at-smaller {
        display: none;
    }
    section.char-top ul {
        display:contents;
        grid-template-columns: none;
    }
    section.char-top.title-fun-facts {
        display: flex;
        justify-content: center;
        align-items: center; 
    }
    .rectangular-button {
        font-size: 14px;
   }
    div.footer {
        font-size: 12px;
    }
    hr.big-divider {
        border-width: 30px; 
        border-color: #0A7ACF;
    }
    p.caption {
        font-size: 16px;
    }
    .image-placeholder-tall {
        display: none;
    }
}
@media (max-width: 450px) {
    section.page-title {
        font-size: 33px;
        padding-top: 8%;
        padding-left: 58%;
        padding-bottom: 15%;
    }
    em {
        font-size: 12px;
    }
    a.on-this-page {
        font-size: 12px;
    }
    .top-header3 {
        font-size: 60px;
    }
    .top-header3 {
        font-size: 47px;
        margin:0;
        margin-top: 7%;
    }
    p.top-header {
        font-size: 40px;
    }
    hr.big-divider {
        border-width: 25px; 
        border-color: #0A7ACF;
    }
}
@media (max-width: 395px) {
    section.page-title {
        font-size: 25px;
        padding-top: 8%;
        padding-left: 58%;
        padding-bottom: 15%;
    }
    em {
        font-size: 10px;
    }
    .sticky-header li {
        font-size: 9px;
        margin: 0 10px;
    }
    a.on-this-page {
        font-size: 11px;
    }
    .top-header2 {
        font-size: 37px;
    }
    .in-at-smaller {
        display: none;
    }
    .away-at-smaller {
        display: none;
    }
    .rectangular-button {
        font-size: 12px;
   }
   hr.big-divider {
    border-width: 18px; 
    border-color: #0A7ACF;
}
}
@media (max-width:349px) {
    a.on-this-page {
        font-size: 10px;
    }
    .in-at-smaller {
        display: none;
    }
    .away-at-smaller {
        display: none;
    }
    .top-header3 {
        font-size: 50px;
    }
    p.top-header {
        font-size: 37px;
    }
    
}
h1 {
    color:#0A7ACF;
}
