html {
    background-color: lemonchiffon
}
h1.heading {
    font-family: gyst-variable, sans-serif;
    font-size: 3.5em;
    text-align: center;
    padding-top: 0px;
    margin-top: 0px;
}
h1.heading2 {
    font-family: gyst-variable, sans-serif;
    font-size: 3.5em;
    text-align: center;
    margin:0px;
}
h1,h2 {
    font-family: gyst-variable, sans-serif;
}
a {
    color: black;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 100px;
}
hr {
    border-top: 3px solid black;
    border-bottom: solid black;
}
p.description {
    margin-top: 10px;
    padding-left: 220px;
    padding-right:220px;
    text-align: center;
}
p.directions {
    padding-right:200px;
}
h2 {
    margin-bottom: 10px;
}
footer {
    padding-top: 40px;
    text-align: center;
    margin-bottom: 0px;
}